@font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: Code;
    src: url(Code.ttf);
}

* {
    box-sizing: border-box;
    font-family: Lato;
}

/* Container Left */
.c-left {
    width: 60%;
    height: 1090px;
    background-color: #171717;
    float: left;
    padding-top: 300px;
    padding-left: 100px;
}
.c-left>nav {
    width: 500px;
    height: 480px;
}
code {
    font-family: Code;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.20em;
    text-align: left;
    color: #B0B0B0;
    width: 200px;
}
/* /Container Left */


/* Container Right */
.c-right {
    width: 40%;
    height: 1090px;
    background-color: #DD424C;
    float: left;
}
.check {
    width: 620px;
    height: 615px;
    background-color: #EAEAEA;
    border-radius: 20px;
    text-align: center;
    margin-left: -130px;
    margin-top: 140px;
    padding-top: 40px;
}
h1 {
    font-family: Code;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
}
.check>p {
    font-family: Lato;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #8C8C8C;
    padding-top: 0;
    padding-bottom: 20px;
}

/* Form */
input {
    width: 450px;
    height: 70px;
    border: none;
    border-radius: 40px;
    padding-left: 40px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/* Remember-Forgot */
#first-flex {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 80px;
    padding-top: 0;
    padding-bottom: 10px;
}
#first-flex>input {
    width: 26px;
}
#first-flex>a {
    padding-left: 180px;
    text-decoration: none;
    color: #DD424C;
}
/* /Remember-Forgot */

#login {
    width: 450px;
    height: 70px;
    border: none;
    border-radius: 40px;
    background-color: #171717;
    color: white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
}

/* Signup */
#second-flex {
    padding-top: 15px; 
    align-items: center;  
}
#second-flex>p {
    display: inline-block;
}
#second-flex>a {
    text-decoration: none;
    color: #DD424C;
}
/* /Signup */
/* /Form */
/* /Container Right */

/* Red Logo */
#red-logo {
    position: absolute;
    top: 125px;
    right: 605px;
}
/* /Red Logo */