@font-face {
    font-family: Inter;
    src: url(Inter-Regular.ttf);
}

@font-face {
    font-family: Code;
    src: url(Code.ttf);
}

* {
    box-sizing: border-box;
}

/* Container Left */
.c-left {
    width: 60%;
    height: 1090px;
    background-color: #171717;
    float: left;
    padding-top: 300px;
    padding-left: 100px;
    float: left;
}
.c-left>nav {
    width: 500px;
    height: 480px;
}
code {
    font-family: Code;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.20em;
    text-align: left;
    color: #B0B0B0;
    width: 200px;
}
/* /Container Left */

/* Container Right */
.c-right {
    width: 40%;
    height: 1090px;
    background-color: #DD424C;
    float: left;
    text-align: center;
    padding-top: 400px;
}
h1 {
    font-family: Inter;
    font-size: 64px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.17em;
    color: white;
}
/* /Container Right */